body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
#gameview {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  position: relative;
}
::-webkit-scrollbar {
  width: 8px; /* Includes the "border" */
}

#ui_content {
  position: absolute;
  width: 33%;
  height: 66%;
  min-width: 350px;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  display: flex;
  flex-direction: column;
}

#terminal {
  height: 100%;
}
